
clear
figlet AHS TEAM | lolcat
echo "====================================================

\e[0;36m# AUTHOR  : A SETENGAH 12
\e[0;36m# TEAM    : CYBER AHS INDO
\e[0;36m# CONTACT : zainicahganteng246@gmail.com

====================================================" | lolcat
sleep1
echo \e[0;36m" PILIH NOMOR UNTUK MENADAPATKAAN INFORMASI : " | lolcat
echo \e[0;36m" [01] JADWAL SHIFT" | lolcat
echo \e[0;36m
